/* reset */
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
input,
ol,
p,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #757575;
}

img {
  border: none;
  vertical-align: top;
}

a,
img,
input {
  border: 0 none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
a {
  -webkit-appearance: none;
  appearance: none;
}

table {
  border-collapse: collapse;
}

//input,
//textarea {
//  outline: none;
//  appearance: none;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//}
//input {
//  background: none;
//  border: 0 none;
//}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

textarea {
  resize: none;
  overflow: auto;
}

body {
  font-size: 14px;
  font-family: "楷体";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "楷体";
}

body {
  height: 100%;
  background: #fff;
}

:focus,
a,
label {
  outline: 0 none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

/* end reset */
/* public */
.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.undis {
  display: none;
}

@form-width: 560px;
@input-height: 34px;
@kaptcha-image-height: 35px;
@kaptcha-image-width: 98px;
@formTipsOk-height: 16px;
@redColor: #e72429;
@greenColor: #4FB375;

.container {
  padding: 0;
  //  margin: 0 auto;
  //  margin: 0;
}

#form {
  width: @form-width;
  //  margin: 100px auto 0;
}

input.eInputFocus,
input:focus {
  border: 1px solid #49a9ee;
  box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
}

input.eInputError,
input.eInputError:focus,
input.eInputError:hover {
  border: 1px solid #ff7f7d;
}

.kaptcha-input {
  width: @form-width - (@form-width / 11.2)*8.5;
  margin-right: 15px;
  margin-top: (@kaptcha-image-height - @input-height)/2;
}

.kaptcha-image {
  width: @kaptcha-image-width;
  height: @kaptcha-image-height;
  //  margin-right: 5px;
}

.formTipsOk {
  position: relative;
  top: (@input-height - @formTipsOk-height)/2;
  left: 5px;
  width: 16px;
  height: @formTipsOk-height;
  background: url("../../static/img/icon-operate.png") no-repeat 0 -40px;
  display: block;
  overflow: hidden;
  text-indent: -999em;
}

.captcha-a {
  padding-right: 6px;
  font-size: 12px;
  display: inline-block;
  line-height: @kaptcha-image-height;
}

.captcha-prompt {
  position: relative;
  right: 5px;
}

.prompt {
  p {
    display: inline-block;
    line-height: @input-height;
  }
  .formTipsIcon {
    position: relative;
    top: (@input-height - @formTipsOk-height)/2;
    margin: 2px 7px 0 0;
    width: 16px;
    height: 16px;
    background: url("../../static/img/icon-operate.png") no-repeat 0 -40px;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -999em;
  }
  .formTipsWarn .formTipsIcon {
    background-position: 0 -20px;
  }
}

.err-prompt {
  color: #C9302C;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  margin: 0;
}

.red-price {
  color: @redColor;
}

.green-price {
  color: @greenColor;
}

.grey-price {
  color: #aaa;
}

//模态框--删除
.modal {
  .modal-header {
    padding: 10px;
    background: #f3f3f3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .modal-body {
    font-size: 20px;
  }
  .btn-primary {
    background: @greenColor;
    border-color: @greenColor;
  }
}

//404页面
.err-page {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  .right-img {
    img {
      height: 300px;
      width: 300px;
    }
  }

}
