@form-width: 450px;
@input-height: 34px;
@kaptcha-image-height: 37px;
@kaptcha-image-width: 100px;
@formTipsOk-height: 16px;
.tit {
  margin-left: @form-width / 4 !important;
  margin-bottom: 30px;
  h1 {
    font-family: "楷体";
  }
}

.form-submit {
  //  margin-top: 20px;
  //  margin-left: @form-width / 3;
}

//登录页背景
.login {
  padding: 550px/3 450px;
  background: url("../img/login-bg.png") no-repeat center left;
  background-size: 40%;
  label {
    font-family: "楷体";
  }
}

.logo {
  width: 100px;
  height: 100px;
  a {
    background: url("../img/bird.png") no-repeat center center;
    background-size: 100%;
    display: block;
    width: 100px;
    height: 100px;
  }
}

.form-group {
  input {
    width: @form-width - (@form-width / 11.2)*5;
    display: inline-block;
    margin-right: 5px;
  }
  .kaptcha-input {
    width: @form-width - (@form-width / 11.2)*9.5;
    margin-right: 5px;
    margin-top: (@kaptcha-image-height - @input-height)/2;
  }
}

//注册页不同样式
.register {
  padding: 120px 400px;
  background: url("../img/bird.png") no-repeat center left;
  background-size: 20%;
}
