.tit {
    margin-left: 140px !important;
    margin-bottom: 30px;
}

.tit h1 {
    font-family: "楷体";
}

.container {
    padding: 120px 400px;
    background: url("../img/user-bg.png") no-repeat center left;
    background-size: 40%;
}

.form-group .form-control {
    width: 310px;
    display: inline-block;
    margin-right: 5px;
}

.date.col-sm-8 {
    width: 67.666667%;
}

.date.col-sm-8 .form-control {
    margin-right: -2px;
    width: inherit;
}

.date.col-sm-8 span {
    display: inline-block;
    height: 34px;
    width: 37px;
    position: relative;
    left: 0;
}
