/* reset */
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
input,
ol,
p,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #757575;
}
img {
  border: none;
  vertical-align: top;
}
a,
img,
input {
  border: 0 none;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
a {
  -webkit-appearance: none;
  appearance: none;
}
table {
  border-collapse: collapse;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font-size: 14px;
  font-family: "楷体";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "楷体";
}
body {
  height: 100%;
  background: #fff;
}
:focus,
a,
label {
  outline: 0 none;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  margin: 0;
  padding: 0;
}
/* end reset */
/* public */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.undis {
  display: none;
}
.container {
  padding: 0;
}
#form {
  width: 560px;
}
input.eInputFocus,
input:focus {
  border: 1px solid #49a9ee;
  box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
}
input.eInputError,
input.eInputError:focus,
input.eInputError:hover {
  border: 1px solid #ff7f7d;
}
.kaptcha-input {
  width: 135px;
  margin-right: 15px;
  margin-top: 0.5px;
}
.kaptcha-image {
  width: 98px;
  height: 35px;
}
.formTipsOk {
  position: relative;
  top: 9px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: url("../../static/img/icon-operate.png") no-repeat 0 -40px;
  display: block;
  overflow: hidden;
  text-indent: -999em;
}
.captcha-a {
  padding-right: 6px;
  font-size: 12px;
  display: inline-block;
  line-height: 35px;
}
.captcha-prompt {
  position: relative;
  right: 5px;
}
.prompt p {
  display: inline-block;
  line-height: 34px;
}
.prompt .formTipsIcon {
  position: relative;
  top: 9px;
  margin: 2px 7px 0 0;
  width: 16px;
  height: 16px;
  background: url("../../static/img/icon-operate.png") no-repeat 0 -40px;
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -999em;
}
.prompt .formTipsWarn .formTipsIcon {
  background-position: 0 -20px;
}
.err-prompt {
  color: #C9302C;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  margin: 0;
}
.red-price {
  color: #e72429;
}
.green-price {
  color: #4fb375;
}
.grey-price {
  color: #aaa;
}
.modal .modal-header {
  padding: 10px;
  background: #f3f3f3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal .modal-body {
  font-size: 20px;
}
.modal .btn-primary {
  background: #4fb375;
  border-color: #4fb375;
}
.wares-detail .row {
  padding: 0;
  margin: 0;
}
.wares-detail .row .col-md-5 {
  padding: 0;
}

.wares-detail .cont-wares {
  width: 1127px;
  margin: 0 auto !important;
}

.wares-detail .cont-wares .wares-img {
  width: 400px;
  height: 500px;
}

.wares-detail .cont-wares .wares-img img {
  width: 400px;
  height: 400px;
  border: 1px solid #4fb375;
}

.wares-detail .cont-wares .wares-img .img-child {
  height: 70px;
  margin-top: 10px;
}

.wares-detail .cont-wares .wares-img .img-child ul li {
  float: left;
  padding: 0 5px;
}

.wares-detail .cont-wares .wares-img .img-child img {
  width: 70px;
  height: 70px;
  border: none;
}

.wares-detail .cont-wares .wares-img .img-child img:hover {
  border: 1px solid #4fb375;
}

.wares-detail .cont-wares .wares-parameter {
  padding-left: 50px;
  height: 600px;
}

.wares-detail .cont-wares .wares-parameter .parameter-type {
  padding: 10px;
  padding-left: 5px;
  width: 300px;
  background: rgba(204, 204, 204, 0.2);
}

.wares-detail .cont-wares .wares-parameter .parameter-type li {
  padding: 5px 0;
}

.wares-detail .cont-wares .wares-parameter .parameter-type .type-tit {
  color: #888;
  font-size: 16px;
}

.wares-detail .cont-wares .wares-parameter .parameter-type .type-price {
  color: #e72429;
}

.wares-detail .cont-wares .wares-parameter .parameter-type .full-cut {
  color: #fff;
  background: #4fb375;
  margin-right: 5px;
}

.wares-detail .cont-wares .wares-parameter .margintop {
  margin-top: 20px;
}

.wares-detail .cont-wares .wares-parameter .key {
  font-size: 16px;
}

.wares-detail .cont-wares .wares-parameter .customer-service .value {
  font-size: 14px;
  color: #888;
}

.wares-detail .cont-wares .wares-parameter .customer-service .value i {
  padding-right: 5px;
}

.wares-detail .cont-wares .wares-parameter .customer-service .value:hover a {
  color: #4fb375;
}

.wares-detail .cont-wares .wares-parameter a {
  text-decoration: none;
}

.wares-detail .cont-wares .wares-parameter .specifications .cpu {
  font-size: 14px;
  color: #b0b0b0;
}

.wares-detail .cont-wares .wares-parameter .specifications .value {
  border: 1px dashed #e0e0e0;
  opacity: 0.8;
  text-align: center;
  color: #b0b0b0;
  padding: 0 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

.wares-detail .cont-wares .wares-parameter .specifications .value:hover {
  border-color: #4fb375;
  color: #4fb375;
}

.wares-detail .cont-wares .wares-parameter .specifications .active {
  border-color: #4fb375;
  color: #4fb375;
}

.wares-detail .cont-wares .wares-parameter .add-cart {
  width: 100%;
}

.wares-detail .cont-wares .wares-parameter .add-cart .btn {
  background: #4fb375;
  border-color: #4fb375;
  padding: 0;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.wares-detail .cont-wares .wares-parameter .prompt {
  font-size: 14px;
  color: #b0b0b0;
  margin-top: 10px;
}

.wares-detail .cont-wares .wares-parameter .prompt i {
  color: #4fb375;
}

.wares-detail .cont-detail {
  margin-top: 20px;
  width: 1127px;
  margin: 0 auto;
  border-bottom: 1px solid #4fb375;
  background: #F7F7F7;
}

.wares-detail .cont-detail .detail-tit a {
  text-decoration: none;
}

.wares-detail .cont-detail .detail-tit li {
  float: left;
  padding: 0 20px;
  line-height: 40px;
  text-align: center;
}

.wares-detail .cont-detail .detail-tit li:hover a {
  color: #4fb375;
}

.wares-detail .cont-detail .detail-tit .active {
  background: #4fb375;
}

.wares-detail .cont-detail .detail-tit .active a {
  color: #fff;
}

.wares-detail .cont-detail .detail-tit .active:hover a {
  color: #fff;
}

.wares-detail .cont-detail .btn {
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 0;
  background: #4fb375;
  color: #fff;
}

.wares-detail .wares-introduction body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
  width: 1127px;
  margin: 0 auto;
  margin-top: 30px;
}

.wares-detail .wares-introduction ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wares-detail .wares-introduction a,
.wares-detail .wares-introduction s {
  text-decoration: none;
}

.wares-detail .wares-introduction em,
.wares-detail .wares-introduction i,
.wares-detail .wares-introduction u {
  font-style: normal;
}

.wares-detail .wares-introduction p {
  margin: 0;
  padding: 0;
}

.wares-detail .wares-introduction .p-parameter {
  padding: 0 10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.wares-detail .wares-introduction .p-parameter-list {
  padding: 20px 0 15px;
  overflow: hidden;
  _zoom: 1;
}

.wares-detail .wares-introduction .p-parameter-list li {
  width: 200px;
  padding-left: 42px;
  float: left;
  margin-bottom: 5px;
}

.wares-detail .wares-introduction .p-parameter .p-parameter-list li,
.wares-detail .wares-introduction .p-parameter .p-parameter-list li .detail p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wares-detail .wares-introduction .p-parameter ul li .i-phone {
  height: 31px;
  background-image: url(//static.360buyimg.com/item/default/1.0.32/components/detail/i/param1.png);
}

.wares-detail .wares-introduction .p-parameter ul li .i-camera {
  background-image: url(//static.360buyimg.com/item/default/1.0.32/components/detail/i/param2.png);
}

.wares-detail .wares-introduction .p-parameter ul li .i-cpu {
  background-image: url(//static.360buyimg.com/item/default/1.0.32/components/detail/i/param3.png);
}

.wares-detail .wares-introduction .p-parameter ul li i {
  float: left;
  width: 33px;
  height: 33px;
  overflow: hidden;
  line-height: 1000px;
  margin-top: 2px;
  margin-left: -37px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wares-detail .wares-introduction .detail {
  overflow: hidden;
  display: inline;
}

.wares-detail .wares-introduction .p-parameter-list li .detail {
  width: 197px;
  min-height: 0px;
  float: right;
}

.wares-detail .wares-introduction .p-parameter ul li .detail p {
  width: 100%;
  line-height: 18px;
  margin-bottom: 4px;
}

.wares-detail .wares-introduction #parameter-brand {
  padding-bottom: 0;
}

.wares-detail .wares-introduction #parameter-brand li {
  width: 50%;
}

.wares-detail .wares-introduction .p-parameter .p-parameter-list li a {
  color: #5e69ad;
}

.wares-detail .wares-introduction .p-parameter .p-parameter-list .follow-brand {
  color: #666;
}

.wares-detail .wares-introduction .follow-brand {
  margin-left: 5px;
}

.wares-detail .wares-introduction .btn-def {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  height: 23px;
  line-height: 23px;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.wares-detail .wares-introduction .follow-brand b {
  color: #e4393c;
  font-size: 22px;
  font-family: simsun;
  vertical-align: middle;
  padding-right: 3px;
}

.wares-detail .wares-introduction .p-parameter .more-par {
  padding-right: 20px;
  margin-top: -5px;
  text-align: right;
}

.wares-detail .wares-introduction .p-parameter .more-par a {
  color: #005aa0;
  text-decoration: none;
}

.wares-detail .wares-introduction img {
  border: 0;
  vertical-align: middle;
  /*width: 354px;
      height: 600px;*/
}
