<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='../../static/img/icon.ico' rel='shortcut icon'/>
    <title>飞鸟商城-商品评价</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/evaluate.css"/>
</head>
<body>
<nav class="navbar navbar-default head  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-page" href="#">欢迎来到飞鸟商城</a>
            <div class="navbar-brand nav-a">
                <a href="#" class="login-page">请登录 </a>
                <a href="#" class="register-page">免费注册</a>
            </div>
            <div class="navbar-brand user-a undis">
                <a href="#" class="user-page">
                    <img src="../../static/img/bird.jpg"/>
                    <span id="head-username">
								张三
							</span>
                </a>
            </div>
            <span class="undis navbar-brand" id="err"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="user-page">个人信息</a>
                </li>
                <li>
                    <a href="#" class="cart-page">我的购物车</a>
                </li>
                <li>
                    <a href="#" class="order-page">我的订单</a>
                </li>
                <li>
                    <a href="#" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container evaluate">
    <div class='cont-logo row'>
        <div class='logo col-md-4'>
            <a href='#' class="main-page"></a>
            <img src='../../static/img/logo-tit2.jpg'/>
        </div>
    </div>
    <div class="cont-tit text-center">
        <h3>评价订单</h3>
        <p><span class="key grey-price">订单号：</span><span class="value">53862676454</span><span class="time">2017-05-08 13:54:31</span>
        </p>
    </div>
    <div class="cont-wares row">
        <div class="col-md-4 cont-left">
            <div class="wares-img">
                <img src="../../static/img/bird1.jpg" alt=""/>
            </div>
            <div class="wares-text text-center">
                <p class="name">飞鸟 肥鸟 4X 全网通版 2GB+16GB 香槟金 移动联通电信4G手机</p>
                <p><span>￥</span><span class="">2299.00</span></p>
                <p class="grey-price"><span class="">4.8</span><span class="value">分</span><span
                        class="value">(累计评价<span>7006</span>)</span></p>
            </div>
        </div>
        <div class="col-md-8 cont-right">
            s
        </div>
    </div>
</div>
<script src='../../static/js/lib/jquery2.1.4.min.js' type='text/javascript' charset='utf-8'></script>
<script src='../../static/bootstrap/js/bootstrap.js' type='text/javascript' charset='utf-8'></script>
<script src='../../static/js/head.js' type='text/javascript' charset='utf-8'></script>
<script src="../../static/js/evaluate.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>