<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='../../static/img/icon.ico' rel='shortcut icon'/>
    <title>飞鸟商城-商品评价</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/evaluate.css"/>
</head>
<body>
<nav class="navbar navbar-default head  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-page" href="#">欢迎来到飞鸟商城</a>
            <div class="navbar-brand nav-a">
                <a href="#" class="login-page">请登录 </a>
                <a href="#" class="register-page">免费注册</a>
            </div>
            <div class="navbar-brand user-a undis">
                <a href="#" class="user-page">
                    <img src="../../static/img/bird.jpg"/>
                    <span id="head-username">
								张三
							</span>
                </a>
            </div>
            <span class="undis navbar-brand" id="err"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="user-page">个人信息</a>
                </li>
                <li>
                    <a href="#" class="cart-page">我的购物车</a>
                </li>
                <li>
                    <a href="#" class="order-page">我的订单</a>
                </li>
                <li>
                    <a href="#" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container evaluate">
    <div class='cont-logo row'>
        <div class='logo col-md-4'>
            <a href='#' class="main-page"></a>
            <img src='../../static/img/logo-tit2.jpg'/>
        </div>
    </div>
    <div class="cont-tit text-center">
        <h3>评价订单</h3>
        <p><span class="key grey-price">订单号：</span><span class="value">53862676454</span><span class="time grey-price">2017-05-08 13:54:31</span>
        </p>
    </div>
    <div class="cont-wares row">
        <div class="col-md-4 cont-left">
            <div class="wares-img">
                <img src="../../static/img/bird1.jpg" alt=""/>
            </div>
            <div class="wares-text text-center">
                <p class="name">飞鸟 肥鸟 4X 全网通版 2GB+16GB 香槟金 移动联通电信4G手机</p>
                <p><span>￥</span><span class="">2299.00</span></p>
                <p class="grey-price"><span class="">4.8</span><span class="value">分</span><span
                        class="value">(累计评价<span>7006</span>)</span></p>
            </div>
        </div>
        <div class="col-md-8 cont-right">
            <div class="fi-operate">
                <div class="fop-item fop-star   z-tip-warn">
                    <div class="fop-label">商品满意度</div>
                    <div class="fop-main">
						<span class="commstar">
							<span class="star star1"><i class="face"></i></span>
							<span class="star star2"><i class="face"></i></span>
							<span class="star star3"><i class="face"></i></span>
							<span class="star star4"><i class="face"></i></span>
							<span class="star star5"><i class="face"></i></span>
							<span class="star-info">0分</span>
						</span>
                    </div>
                    <div class="fop-tip"><i class="tip-icon"></i><em class="tip-text"></em></div>
                    <div class="fi-tip"><i class="tip-icon"></i><em class="tip-text">请至少填写一件商品的评价</em></div>
                </div>
                <div class="fop-item J-mjyx">
                    <div class="fop-label">买家印象</div>
                    <div class="fop-main">
                        <div class="m-tagbox m-multi-tag"><a href="javascript:void(0)" class="tag-item" data-id="9926">升温快<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9925">容量大<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9924">时间比较准<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9921">使用方便<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9920">烤了蛋糕<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9916">烤箱很好<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9922">适合家用<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9915">温度准确<i
                                class="t-check"></i></a> <a href="javascript:void(0)" class="tag-item" data-id="9919">烤了披萨<i
                                class="t-check"></i></a>
                            <div class="tag-define"><span class="define-label"><i
                                    class="i-pen"></i><em>自定义标签</em></span> <input type="text" class="define-input">
                            </div>
                        </div>
                    </div>
                    <div class="fop-tip"><i class="tip-icon"></i><em class="tip-text"></em></div>
                </div>

                <div class="fop-item ">
                    <div class="fop-label">评价晒单</div>
                    <div class="fop-main">
                        <div class="f-textarea">
                            <textarea name="" id="" placeholder="商品是否给力？快分享你的购买心得吧~"></textarea>
                            <div class="textarea-ext"><em class="textarea-num"><b>0</b> / 500</em><span class="tips">（评价多于<span
                                    class="ftc1">10</span>个字,有机会奖励京豆哦~）</span></div>
                        </div>
                        <div class="m-imgshow f-imgshow">
                            <div class="thumbnail-list" id="container_image-upload-435168" style="position: relative;">
                                <span id="image-upload-435168" class="btn-upload"
                                      style="position: relative; z-index: 0;"></span>
                                <span class="upload-num">共<em>0</em>张,还能上传<em>10</em>张</span>
                                <div id="p1bgmveqhr8e913ja12qto91j7o0_html5_container" class="plupload html5"
                                     style="position: absolute; background: transparent; width: 50px; height: 50px; overflow: hidden; z-index: -1; opacity: 0; top: 0px; left: 0px;">
                                    <input id="p1bgmveqhr8e913ja12qto91j7o0_html5"
                                           style="font-size: 999px; position: absolute; width: 100%; height: 100%;"
                                           type="file" accept="image/jpeg,image/gif,image/png,image/bmp"
                                           multiple="multiple"></div>
                            </div>
                            <div class="bigimg-switch hide">
                                <div class="bigimg-operate">
                                    <a href="#none" class="op-rotate1"><i></i><em>左转</em></a>
                                    <a href="#none" class="op-rotate2"><i></i><em>右转</em></a>
                                    <a href="#none" class="op-delete"><i></i><em>删除</em></a>
                                </div>
                                <div class="switch-inner">
                                    <img src="" alt="" class="bigimg">
                                    <div class="cursor-small"></div>
                                    <div class="cursor-prev"></div>
                                    <div class="cursor-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fop-tip"><i class="tip-icon"></i><em class="tip-text"></em></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/js/lib/jquery2.1.4.min.js' type='text/javascript' charset='utf-8'></script>
<script src='../../static/bootstrap/js/bootstrap.js' type='text/javascript' charset='utf-8'></script>
<script src='../../static/js/head.js' type='text/javascript' charset='utf-8'></script>
<script src="../../static/js/evaluate.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>