<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/main-index.css"/>
</head>

<body>
<div class="container-fluid main-index">
    <!--<div class="box-hd clear">
        <h2 class="title fl">搭配</h2>
        <ul class="tab-list fr clear" id="tabnav">
            <li class="tab-active">热门</li>
            <li>耳机音响</li>
            <li>电源</li>
            <li>电池存储卡</li>
        </ul>
    </div>-->
    <div class="box-bd row">
        <ul class="bd-left col-md-2 clear">
            <li class="brick-item brick-item-m">
                <a href="javascript:;">
                    <img src="../../static/img/bg3.jpg" alt=""/>
                </a>
            </li>
            <li class="brick-item brick-item-m">
                <a href="javascript:;">
                    <img src="../../static/img/login-bg.jpg" alt=""/>
                </a>
            </li>
        </ul>
        <div class="bd-right col-md-10">
            <ul class="brick-list tabcon clear">
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/bird.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 20000mAh小米移动电源2 </a>
                    </h3>
                    <p class="price"><span>149</span>元</p>
                    <p class="rank">2410人评价</p>
                </li>
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/bird1.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米移动电源10000mAh高配版 </a>
                    </h3>
                    <p class="price"><span>149</span>元</p>
                    <p class="rank">950人评价</p>
                </li>
                <li class="brick-item brick-item-m ">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/bird3.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米圈铁耳机Pro </a>
                    </h3>
                    <p class="price"><span>149</span>元</p>
                    <p class="rank">6183人评价</p>
                    <div class="flag flag-saleoff">享6折</div>
                    <div class="review-wrapper">
                        <a href="javascript:;">
                            <span class="review">新一代超良心圈铁耳机！！！外观超酷！感觉很高端，音质好好好</span>
                            <span class="author">  来自于 小笼包 的评价  </span>
                        </a>
                    </div>
                </li>
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/login-bg.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米蓝牙音箱 </a>
                    </h3>
                    <p class="price"><span>199</span>元</p>
                    <p class="rank">2.2万人评价</p>
                    <div class="flag flag-new">新品</div>
                </li>
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/login-bg.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米蓝牙耳机青春版 </a>
                    </h3>
                    <p class="price"><span>59</span>元</p>
                    <p class="rank">8275人评价</p>
                </li>
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/bird3.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米车载充电器 </a>
                    </h3>
                    <p class="price"><span>49</span>元</p>
                    <p class="rank">4万人评价</p>
                    <div class="review-wrapper">
                        <a href="javascript:;">
                            <span class="review">做工好，性价比高，不错</span>
                            <span class="author"> 来自于 14065665 的评价 </span>
                        </a>
                    </div>
                </li>
                <li class="brick-item brick-item-m">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/bird1.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米小钢炮蓝牙音箱2 </a>
                    </h3>
                    <p class="price"><span>129</span>元</p>
                    <p class="rank">1.8万人评价</p>
                    <div class="review-wrapper">
                        <a href="javascript:;">
                            <span class="review">很精致，小巧可爱，连接成功是女声说话提示。音质很纯很好</span>
                            <span class="author"> 来自于 Cc大坏 的评价 </span>
                        </a>
                    </div>

                </li>
                <li class="brick-item brick-item-s">
                    <div class="figure figure-img">
                        <a href="javascript:;">
                            <img src="../../static/img/user-bg.jpg" alt=""/>
                        </a>
                    </div>
                    <h3 class="title">
                        <a href="javascript:;"> 小米移动电源 </a>
                    </h3>
                    <p class="price"><span>99</span>元</p>
                </li>
                <li class="brick-item brick-item-s">
                    <div class="figure figure-more">
                        <a href="javascript:;">
                            <i class="iconfont icon-jiantou-copy"></i>
                        </a>
                    </div>
                    <a href="javascript:;" class="more">
                        浏览更多
                        <small>热门</small>
                    </a>
                </li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</div>

<!--box end-->
<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    //			//box_bd   切换
    //			fnTab($('#tabnav'), $('.tabcon'), 'mouseover');
    //
    //			function fnTab(oNav, aCon, sEvent) {
    //				var aElem = oNav.children();
    //				aCon.hide().eq(0).show();
    //
    //				aElem.each(function(index) {
    //					$(this).on(sEvent, function() {
    //						aElem.removeClass('tab-active');
    //						$(this).addClass('tab-active');
    //
    //						aCon.hide().eq(index).show();
    //					});
    //
    //				});
    //			}
    $(function () {

        $('.brick-item').click(function (e) {
            window.parent.gotoDetail();
            e.preventDefault();
        });
    });
    // 鼠标滑过显示  内容卡片
    fnBox($('.brick-item'), 'mouseover');

    function fnBox(oNav, sEvent) {
        oNav.each(function (index) {
            $(this).on(sEvent, function () {
                oNav.removeClass('brick-item-active');
                $(this).addClass('brick-item-active');
            });
            $(this).on('mouseout', function () {
                $(this).removeClass('brick-item-active');

            });
        });
    }
</script>
</body>

</html>