<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../../static/img/icon.ico" rel="shortcut icon"/>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/config.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>
</head>

<body>

<div class="container register">
    <!--<div class="img fl"></div>-->
    <form id="form" class="form-horizontal">
        <div class="form-group tit">
            <h1>用户注册</h1>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10 clear">
                <input type="password" class="form-control fl" id="username" placeholder="用户名">
                <div class="fl prompt">
                    <div class="">
                        <div class="formTipsBox"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密&nbsp;&nbsp;码</label>
            <div class="col-sm-10 clear">
                <input type="password" class="form-control fl" id="password" placeholder="密码">
                <div class="fl prompt">
                    <div class="">
                        <div class="formTipsBox"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-10 clear">
                <input type="password" class="form-control fl" id="confirm" placeholder="确认密码">
                <div class="fl prompt">
                    <div class="">
                        <div class="formTipsBox"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮&nbsp;&nbsp;箱</label>
            <div class="col-sm-10 clear">
                <input type="password" class="form-control fl" id="email" placeholder="邮箱">
                <div class="fl prompt">
                    <div class="">
                        <div class="formTipsBox"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="captcha" class="col-sm-2 control-label">验证码</label>
            <div class="col-sm-10 clear">
                <input type="password" class="form-control kaptcha-input fl" id="captcha" maxlength="10"
                       placeholder="验证码">
                <div class="fr prompt captcha-prompt">
                    <div class="">
                        <div class="formTipsBox"></div>
                    </div>
                </div>
                <img src="" id="kaptchaImage" style="margin-bottom: -3px" class="kaptcha-image fl"/>
                <a href="#" onclick="changeCode()" class="fl captcha-a">看不清?换一张</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p class="err-prompt" id="err-prompt"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default form-submit" id="register-submit">注册</button>
            </div>
        </div>
    </form>
</div>
<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/lib/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/config.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/login.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>