<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../../static/img/icon.ico" rel="shortcut icon"/>
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/config.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/user.css"/>
</head>

<body>
<div class="container">

</div>
<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>