<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../../static/img/icon.ico" rel="shortcut icon"/>
    <title>飞鸟商城-个人中心</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/user.css"/>
</head>

<body>
<nav class="navbar navbar-default head  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-page" href="#">欢迎来到飞鸟商城</a>
            <div class="navbar-brand nav-a">
                <a href="#" class="login-page">请登录 </a>
                <a href="#" class="register-page">免费注册</a>
            </div>
            <div class="navbar-brand user-a undis">
                <a href="#" class="user-page">
                    <img src="../../static/img/bird.jpg"/>
                    <span id="head-username">
								张三
							</span>
                </a>
            </div>
            <span class="undis navbar-brand" id="err"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="user-page">个人信息</a>
                </li>
                <li>
                    <a href="#" class="cart-page">我的购物车</a>
                </li>
                <li>
                    <a href="#" class="order-page">我的订单</a>
                </li>
                <li>
                    <a href="#" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container user">
    <div class="box">
        <div class="cont-img">
            <img src="../../static/img/bird.jpg" id="portrait"/>
        </div>
        <div class="cont-user">
            <h1 class="nickname"><span id="nickname">肥鸟</span><a href="userDetail.html" id="user-detail" title="修改个人信息"><i
                    class="glyphicon glyphicon-pencil"></i></a></h1>
            <h4 id="phone" class="phone">13641190455</h4>
            <span id="introduction" class="introduction">买买买，有钱任性。吃吃吃，减肥拜拜</span>
            <div class="row text-left">
						<span class="col-md-6">
							真实姓名：
						</span>
                <span class="col-md-6" id="username">
							张三
						</span>
            </div>
            <div class="row text-left">
						<span class="col-md-6">
							性别：
						</span>
                <span class="col-md-6" id="gender">
							男
						</span>
            </div>
            <div class="row text-left">
						<span class="col-md-6">
							生日：
						</span>
                <span class="col-md-6" id="birthday">
							1971-01-01
						</span>
            </div>
            <div class="row text-left">
						<span class="col-md-6">
							邮箱：
						</span>
                <span class="col-md-6" id="email">
							1003458499@qq.com
						</span>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <p class="err-prompt" id="err-prompt"></p>
                </div>
            </div>
            <div class="order text-center row">
                <h5 class="col-md-6">订单中心：</h5>
                <span class="col-md-6 text-left" id="order-num">
							<a href="#" class="order-page">我的订单<span class="badge">2</span></a>
							<a href="#" class="cart-page">我的购物车<span class="badge">2</span></a>
						</span>
            </div>
        </div>
    </div>

</div>
<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/head.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>