<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../../static/img/icon.ico" rel="shortcut icon"/>
    <title>飞鸟商城-商品详情页</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/waresDetail.css"/>
</head>

<body>
<nav class="navbar navbar-default head  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-page" href="#">欢迎来到飞鸟商城</a>
            <div class="navbar-brand nav-a">
                <a href="#" class="login-page">请登录 </a>
                <a href="#" class="register-page">免费注册</a>
            </div>
            <div class="navbar-brand user-a undis">
                <a href="#" class="user-page">
                    <img src="../../static/img/bird.jpg"/>
                    <span id="head-username">
								张三
							</span>
                </a>
            </div>
            <span class="undis navbar-brand" id="err"></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="user-page">个人信息</a>
                </li>
                <li>
                    <a href="#" class="cart-page">我的购物车</a>
                </li>
                <li>
                    <a href="#" class="order-page">我的订单</a>
                </li>
                <li>
                    <a href="#" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container main">
    <div class="content-logo row">
        <div class="logo col-md-4">
            <a href="#" class="main-page"></a>
            <img src="../../static/img/logo-tit2.jpg"/>
        </div>
    </div>
    <div class="container-fluid wares-detail">
        <ol class="breadcrumb">
            <li><a href="#" class="main-page">首页</a></li>
            <li><a href="#" class="main-page waresType">飞鸟手机</a></li>
            <li class="active waresName">bird1</li>
        </ol>
        <div class="cont-wares row">
            <div class="col-md-5 wares-img">
                <img src="../../static/img/bg3.jpg" class="imageUrl"/>
                <div class="img-child">
                    <ul class="clear">
                        <li><a href="javascript:;"><img src="../../static/img/bird2.jpg" class="imageUrl active"/></a>
                        </li>
                        <li><a href="javascript:;"><img src="../../static/img/bird3.jpg" class="imageUrl"/></a></li>
                        <li><a href="javascript:;"><img src="../../static/img/bird.jpg" class="imageUrl"/></a></li>
                        <li><a href="javascript:;"><img src="../../static/img/bg3.jpg" class="imageUrl"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 wares-parameter">
                <h2 class="waresName">高通旗舰处理器飞鸟 Bird 1 超长续航</h2>
                <ul class="parameter-type margintop">
                    <li><span class="type-tit">价格：</span><span class="type-price">￥<span
                            class="waresPrice">2999.00</span></span></li>
                    <li><span class="type-tit">领券：</span><span class="full-cut">满200减10</span><span
                            class="full-cut">满500减20</span></li>
                    <li><span class="type-tit">积分：</span><span class="">本次消费可获得3599积分</span></li>
                </ul>
                <div class="customer-service margintop">
                    <span class="key">客服：</span>
                    <span class="value"><a href="javascript:;"><i
                            class="glyphicon glyphicon-comment"></i>联系客服</a></span>
                </div>
                <div class="specifications margintop">
                    <span class="key">选择版本：</span><span class="cpu">骁龙821 性能版，最高主频 2.35GHz，Adreno 530 图形处理器</span><br/>
                    <span class="waresMemory">
                        <!--<a href="#" class="value active"><span>标准版 4GB内存+64GB&nbsp;&nbsp;<span-->
                        <!--class="price">2799元</span></span></a>-->
                        <!--<a href="#" class="value"><span>高配版 6GB内存+128GB&nbsp;<span class="price">3299元</span></span></a>-->
                        <!--<a href="#" class="value"><span>全球版 6GB内存+128GB&nbsp;<span class="price">3499元</span></span></a>-->
                    </span>
                </div>
                <div class="color margintop specifications">
                    <span class="key">选择颜色：</span><br/>
                    <span class="waresColor">
                        <!--<a href="#" class="value active"><span>亮银黑</span></a>-->
                        <!--<a href="#" class="value"><span>冰川银</span></a>-->
                        <!--<a href="#" class="value"><span>亮黑色</span></a>-->
                    </span>

                </div>
                <div class="add-cart margintop">
                    <div class="btn btn-danger">加入购物车</div>
                </div>
                <div class="prompt">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    <span>支持7天无理由退货</span>
                </div>
            </div>
        </div>
        <div class="cont-detail clear">
            <ul class="detail-tit clear fl tabDemo">
                <li class="active"><a href="#">商品介绍</a></li>
                <li class="more-tit"><a href="#">规格与包装</a></li>
                <li><a href="#">售后保障</a></li>
            </ul>
            <div class="btn btn-default fr">加入购物车</div>
        </div>
        <div class="tabDemoCon">
            <div class="waresDetail">
                <!--<iframe src="waresIntroduction.html" width="100%" height="600" scrolling="no" frameborder="0"-->
                <!--name="waresIntro" id="waresIntro" onload="iFrameHeight('waresIntro')"></iframe>-->
            </div>
            <div class="undis more-cont specifications">
                <div class="cont">
                    <div class="Ptable" id="specifications">
                        <div class="Ptable-item">
                            <h3>主体</h3>
                            <dl>
                                <dt>品牌</dt>
                                <dd>飞鸟（Bird）</dd>
                                <dt>型号</dt>
                                <dd>飞鸟Note2</dd>
                                <dt>入网型号</dt>
                                <dd>以官网信息为准</dd>
                                <dt>上市年份</dt>
                                <dd>2016年</dd>
                                <dt>上市月份</dt>
                                <dd>10月</dd>
                            </dl>
                        </div>

                    </div>
                    <div class="package-list">
                        <h3>包装清单</h3>
                        <p>手机主机×1 、电源适配器×1、USB Type-c数据线×1、保护套×1</p>
                    </div>
                </div>
                <!--<iframe src="specifications.html" width="100%" height="600" scrolling="no" frameborder="0" name="spec"-->
                <!--id="spec" onload="iFrameHeight('spec')"></iframe>-->
            </div>
            <div class="undis">
                <iframe src="customerService.html" width="100%" height="600" frameborder="0" name="custSer" id="custSer"
                        onload="iFrameHeight('custSer')"></iframe>
            </div>
        </div>

    </div>

</div>
<!--footer-->
<div class="footer">
    <div class="container-fluid foot">
        <div class="footer-service">
            <ul class="list-service clear">
                <li>
                    <a href="javascript:;"><i class="iconfont icon-gongju"></i>预约维修服务</a>
                </li>
                <li>
                    <a href="javascript:;"><i class="iconfont icon-7"></i>7天无理由退货</a>
                </li>
                <li>
                    <a href="javascript:;"><i class="iconfont icon-15"></i>15天免费换货</a>
                </li>
                <li>
                    <a href="javascript:;"><i class="iconfont icon-liwu"></i>满150元包邮</a>
                </li>
                <li>
                    <a href="javascript:;"><i class="iconfont icon-weizhi"></i>520余家售后网点</a>
                </li>
            </ul>
        </div>
        <div class="footer-links clear">
            <dl class="col-links">
                <dt>帮助中心</dt>
                <dd>
                    <a href="javascript:;">账户管理</a>
                </dd>
                <dd>
                    <a href="javascript:;">购物指南</a>
                </dd>
                <dd>
                    <a href="javascript:;">订单操作</a>
                </dd>
            </dl>
            <dl class="col-links">
                <dt>服务支持</dt>
                <dd>
                    <a href="javascript:;">售后政策</a>
                </dd>
                <dd>
                    <a href="javascript:;">自助服务</a>
                </dd>
                <dd>
                    <a href="javascript:;">相关下载</a>
                </dd>
            </dl>
            <dl class="col-links">
                <dt>线下门店</dt>
                <dd>
                    <a href="javascript:;">飞鸟之家</a>
                </dd>
                <dd>
                    <a href="javascript:;">服务网点</a>
                </dd>
                <dd>
                    <a href="javascript:;">零售网点</a>
                </dd>
            </dl>
            <dl class="col-links">
                <dt>关于飞鸟</dt>
                <dd>
                    <a href="javascript:;">了解飞鸟</a>
                </dd>
                <dd>
                    <a href="javascript:;">加入飞鸟</a>
                </dd>
                <dd>
                    <a href="javascript:;">联系我们</a>
                </dd>
            </dl>
            <dl class="col-links">
                <dt>关注我们</dt>
                <dd>
                    <a href="javascript:;">新浪微博</a>
                </dd>
                <dd>
                    <a href="javascript:;">飞鸟部落</a>
                </dd>
                <dd>
                    <a href="javascript:;">官方微信</a>
                </dd>
            </dl>
            <dl class="col-links">
                <dt>特色服务</dt>
                <dd>
                    <a href="javascript:;">F码通道</a>
                </dd>
                <dd>
                    <a href="javascript:;">礼物码</a>
                </dd>
                <dd>
                    <a href="javascript:;">防伪查询</a>
                </dd>
            </dl>
            <div class="col-contact">
                <p class="phone">400-100-5678</p>
                <p>
                    <span>周一至周日 8:00-18:00</span>
                    <br/> （仅收市话费）
                </p>
                <a href="javascript:;" class="btn btn-line-primary btn-small">
                    <i class="iconfont icon-liuyan"></i>24小时在线客服
                </a>
            </div>
        </div>
    </div>
</div>
<!--footer end-->

<script src="../../static/js/lib/jquery2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/head.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/waresDetail.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function iFrameHeight(id) {
        var ifm = document.getElementById(id);
        var subWeb = document.frames ? document.frames[id].document : ifm.contentDocument;
        if (ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    };
    function goToMore() {
        $('.more-tit').addClass('active').siblings().removeClass('active');
        $('.more-cont').removeClass('undis').siblings().addClass('undis');
    };
</script>
</body>

</html>